<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.li.manager.mapper.hanner.UserBanMapper" >
    <resultMap id="userResult" type="per.li.manager.entity.hanner.UserBan" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="date" property="date" jdbcType="DATE"/>
        <association property="user" column="user_id" resultMap="per.li.manager.entity.hanner.User">
            <id column="id" property="id" jdbcType="VARCHAR" />
            <result column="username" property="username" jdbcType="VARCHAR" />
        </association>

    </resultMap>



</mapper>